body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.like span {
  color: #1515ff;
}

.unlike span {
  color: #ff0000;
}

.review span {
  color: #ffc000;
}
.cats {
  display: flex;
  justify-content: center;
}

.cat {
  border: 1px #404040 solid;
  margin: 1rem;
}

.cat img {
  width: 100%;
  max-width: 400px;
}

.cats-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.btn-primary1 {
  color: #1515ff;
}

.btn-primary2 {
  color: #ff0000;
}
